<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
        <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header font-size: 22px">
        <div>
            <h1>
                <a>YouTube Music - The Best</a>
            </h1>
            <p>Слушай и наслаждайся прямо сейчас</p>
        </div>
    </header>
    <main>
        <div class="in">
            <input type="text" size="50">
        </div>
        <aside id="sidebar">
            <div class="navbar">
                <a href="/"><p>Все трансляции</p></a>
                <a href="/"><p>О проекте</p></a>
            </div>
        </aside>
        <div class="video-container">
            <iframe width="525" height="315" src="https://www.youtube.com/embed/7jJbfuSeRRk?si=or5eiQpFHiLM1Z3f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Music YouTube</h3>
        </div>
        <div class="video-container">
            <iframe width="525" height="315" src="https://www.youtube.com/embed/3rmWJAQ0Na4?si=w4150V-Y98DPkOVS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Music YouTube</h3>
        </div>
        <div class="video-container">
            <iframe width="525" height="315" src="https://www.youtube.com/embed/7hKqtivYDY0?si=n-l8kMUp56hwt4TF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>Music YouTube</h3>
        </div>
    </main>
    <footer>
        <p>LifeSpot - все права защищены</p>
        <p>Связаться с нами: contact@lifespot.ru</p>
    </footer>
</body>
</html>